<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobility.iz.youtubeapidemo" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/playerview_demo_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".YouTubeDemoActivity"
            android:label="@string/playerview_demo_name"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <meta-data android:name="@string/minVersion" android:value="8"/>
            <meta-data android:name="@string/isLaunchableActivity" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
